@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-text {
  animation: fadeIn 1.5s ease-in-out forwards;
}

/* Fade-in animation */
@keyframes fadeInTwo {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-item-two {
  animation: fadeInTwo 0.8s ease-in-out forwards;
}